*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.chat-app{
    display: flex;
    height: 100vh;
}

.left-bar{
    width: 10%;
    padding: 1.5rem;
    background-color: antiquewhite;
}


.content{
    /* border: 1px solid black; */
    width: 100%;
    padding: 1.2rem;
}

.output{
    /* border: 1px solid green; */
    padding: 1rem;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


img{
    max-width: 5%;
}

.input{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 4vh;
    /* background-color: aqua; */
    
}
